@code {
    public bool AccessibleProp { get; } = true;
    [Parameter]
    public bool ShowStuff { get; set; }
}
<div class="my-component">
    This Blazor component is defined in the <strong>ComponentLib</strong> package.
    @if(ShowStuff)
    {
        <span>STUFF</span>
    }
</div>
