<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/egil/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="egil" />
            <add key="ClearTextPassword" value="1a419fdf4dba34c3ee2b659c9e5fa41a25273e09" />
        </github>
    </packageSourceCredentials>
</configuration>