<table>
  <caption>Lorem lipsum captium</caption>
  <tbody>
    <tr>
      <td style="white-space:nowrap">Foo</td>
      <td>Bar</td>
    </tr>
    <tr>
      <td style="white-space:nowrap">Baz</td>
      <td>Boo</td>
    </tr>
  </tbody>
</table>