@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
  <AuthorizeView>
    <h1>Hi @context.User.Identity.Name, you have these rights:</h1>
  </AuthorizeView>
  <ul>
    <AuthorizeView Roles="superuser">
      <li>You have the role SUPER USER</li>
    </AuthorizeView>  
    <AuthorizeView Roles="admin">
      <li>You have the role ADMIN</li>
    </AuthorizeView>
    <AuthorizeView Policy="content-editor">
      <li>You are a CONTENT EDITOR</li>
    </AuthorizeView>
  </ul>
</CascadingAuthenticationState>