@using Bunit.TestAssets
@using Bunit.TestAssets.SampleComponents
@inherits TestContext
@code {
    private readonly ITestOutputHelper outputHelper;

    public MarkupMatchesTests(ITestOutputHelper outputHelper)
    {
        this.outputHelper = outputHelper;
    }

    [Fact]
    public async Task MarkupMatchesShouldNotBeBlockedByRenderer()
    {
        await DumpCapture.OnFailureAsync(() =>
        {
            var tcs = new TaskCompletionSource<object?>();

            var cut = Render(@<LoadingComponent Task="@tcs.Task" />    );

            cut.MarkupMatches(@<span>loading</span>  );

            tcs.SetResult(true);

            cut.WaitForAssertion(() => cut.MarkupMatches(@<span>done</span>));
        },
        outputHelper);
    }

    [Fact]
    public async Task MarkupMatchesShouldNotBeBlockedByRendererComplex()
    {
        await DumpCapture.OnFailureAsync(() =>
        {
            var tcs = new TaskCompletionSource<object?>();

            var cut = Render(@<InvokeAsyncInsideContinueWith Task="@tcs.Task" /> );

            cut.MarkupMatches(@<span>waiting</span>);

            tcs.SetResult(true);

            cut.WaitForAssertion(() => cut.MarkupMatches(@<span>done</span>));
        },
        outputHelper);
    }
}
