@inherits RazorComponentTest

<Fact>
    <TestSetup>
        <div id="generated-@(GetHashCode())"></div>
    </TestSetup>
    <ExpectedHtml>
        <div regex:id="generated-\d{8}"></div>
    </ExpectedHtml>
</Fact>