@inherits TestContext
@*
    This is a special Blazor component, which contains razor tests.
    These tests are written in a mix of C# and Razor syntax.
    Learn more at https://bunit.egilhansen.com/docs/getting-started/
*@
@code
{
    [Fact]
    public void CounterStartsAtZero()
    {
        // Arrange
        var cut = Render(@<Counter />);

        // Assert that content of the paragraph shows counter at zero
        cut.MarkupMatches(@<h1>Counter</h1>
                           <p>Current count: 0</p>
                           <button class="btn btn-primary">Click me</button>);
    }

    [Fact]
    public void ClickingButtonIncrementsCounter()
    {
        // Arrange
        var cut = Render(@<Counter />);

        // Act - click button to increment counter
        cut.Find("button").Click();

        // Assert that the counter was incremented
        cut.Find("p").MarkupMatches(@<p>Current count: 1</p>);
    }
}