@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<CascadingAuthenticationState>
	<AuthorizeView>
		<Authorized>
			Hello, @context.User.Identity.Name!
			<button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
		</Authorized>
		<NotAuthorized>
			<a href="authentication/login">Log in</a>
		</NotAuthorized>
	</AuthorizeView>
</CascadingAuthenticationState>

@code{

	private void BeginLogout(MouseEventArgs args)
	{
		Navigation.NavigateTo("authentication/logout");
	}
}
