<div class=@(Class?.Value ?? "") title=@(Title?.Value ?? "")>
    @ChildContent
</div>
@code {
    [CascadingParameter(Name = nameof(Class))]
    public ThemeInfo? Class { get; set; }

    [CascadingParameter(Name = nameof(Title))]
    public ThemeInfo? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}