<li class="list-group-item list-group-item-action">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" @bind=@Todo.IsDone>
        <label class="custom-control-label">@Todo.Text</label>
        <a class="float-right" href="#">(x)</a>
    </div>
</li>
@code {
    [Parameter] public Todo Todo { get; set; } = default!;
}