<div class="input-group mb-3 p-3">
    <input type="text" class="form-control" placeholder=@Label aria-label=@Label @bind="NewTaskValue">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" @onclick="AddTask">Add task</button>
    </div>
</div>
<ol class="list-group">
    @foreach (var item in items)
    {
        @ItemsTemplate(item);@*<TodoItem Todo=@item TodoChanged="SortTasks" />*@
    }
</ol>

@code{
    [Parameter] public string Label { get; set; } = "Task description";
    [Parameter] public RenderFragment<Todo> ItemsTemplate { get; set; } = default!;

    private List<Todo> items = new List<Todo>();
    private string NewTaskValue { get; set; } = string.Empty;

    private void AddTask(MouseEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(NewTaskValue))
        {

            items.Add(new Todo { Text = NewTaskValue });
        }
        NewTaskValue = string.Empty;
    }
}