@page "/"
@namespace Bunit.SampleApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bunit.Library.SampleApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script>
        function queryWiki(query) {
            return fetch('https://en.wikipedia.org/w/api.php?origin=*&action=opensearch&search=' + query)
                .then(x => x.text());
        }

        function transitionFinished() {
            return new Promise(function (resolve, reject) {
                setTimeout(resolve, 1000);
            });
        }
    </script>
</body>
</html>
