@inherits BunitContext
@code
{
  [Test]
  public void HelloWorldComponentRendersCorrectly()
  {
    // Act
    var cut = Render(@<HelloWorld />);

    // Assert
    cut.MarkupMatches(@<h1>Hello world from Blazor</h1>);
  }
}