@{
    #if NET8_0_OR_GREATER
}
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
<h1>Hello world @Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer</h1>
@{
    #endif
}
