@{
    #if NET8_0_OR_GREATER
}
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveAuto
<h1>Hello world @Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveAuto</h1>
@{
    #endif
}
