@inherits XunitTestComponentBase<Simple>

<Fixture Test="x => { }" Description="My First Test">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>

<Fixture Test="x => { }" Description="My second Test">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>

<SnapshotTest>
	<TestInput><Simple1></Simple1></TestInput>
	<ExpectedOutput><h1>asdf</h1></ExpectedOutput>
</SnapshotTest>

<Fixture Test="x => { }" Description="My Second Test" Skip="NOT NOW">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>


<SnapshotTest Description="ASDF" Skip="wwwbb">
	<TestInput><Simple1></Simple1></TestInput>
	<ExpectedOutput><h1>asdf</h1></ExpectedOutput>
</SnapshotTest>
