@inherits BunitContext

@code {

	[Fact]
	public void MarkupMatchesShouldNotBeBlockedByRenderer()
	{
		var tcs = new TaskCompletionSource<object?>();

		var cut = Render(@<LoadingComponent Task="@tcs.Task"/> );

		cut.MarkupMatches(@<span>loading</span>);

		tcs.SetResult(true);

		cut.WaitForAssertion(() => cut.MarkupMatches(@<span>done</span>));
	}

	[SuppressMessage("Usage", "xUnit1026:Theory method does not use parameter")]
	[Theory]
	[Repeat(2)]
	public void MarkupMatchesShouldNotBeBlockedByRendererComplex(int repeatCount)
	{
		var tcs = new TaskCompletionSource<object?>();

		var cut = Render(@<InvokeAsyncInsideContinueWith Task="@tcs.Task"/> );

		cut.MarkupMatches(@<span>waiting</span>);

		tcs.SetResult(true);

		cut.WaitForAssertion(() => cut.MarkupMatches(@<span>done</span>));
	}
}
