@using Bunit.TestAssets.SampleComponents
@using Bunit
@inherits Bunit.TestContext

@code {

	[Fact]
	public async Task MarkupMatchesShouldNotBeBlockedByRenderer()
	{
		var tcs = new TaskCompletionSource<object?>();

		var cut = Render(@<LoadingComponent Task="@tcs.Task"/> );

		cut.MarkupMatches(@<span>loading</span>);

		tcs.SetResult(true);

		await cut.WaitForAssertionAsync(() => cut.MarkupMatches(@<span>done</span>));
	}

	[SuppressMessage("Usage", "xUnit1026:Theory method does not use parameter")]
	[Theory]
	[Repeat(2)]
	public async Task MarkupMatchesShouldNotBeBlockedByRendererComplex(int repeatCount)
	{
		var tcs = new TaskCompletionSource<object?>();

		var cut = Render(@<InvokeAsyncInsideContinueWith Task="@tcs.Task"/> );

		cut.MarkupMatches(@<span>waiting</span>);

		tcs.SetResult(true);

		await cut.WaitForAssertionAsync(() => cut.MarkupMatches(@<span>done</span>));
	}
}
