@using System.Threading.Tasks

<div>
    <span id="state">@state</span>
    <button id="tick" @onclick="Tick">Tick</button>
    <button id="tock" @onclick="Tock">Tock</button>
</div>

@code
{
    #nullable disable
    TaskCompletionSource<object> _tcs;
    string state = "Stopped";
    Task Tick(MouseEventArgs e)
    {
        if (_tcs == null)
        {
            _tcs = new TaskCompletionSource<object>(TaskCreationOptions.RunContinuationsAsynchronously);

            state = "Started";
            return _tcs.Task.ContinueWith((_) =>
            {
                state = "Stopped";
                _tcs = null;
            });
        }

        return Task.CompletedTask;
    }

    void Tock(MouseEventArgs e)
    {
        _tcs.TrySetResult(null);
    }
}
