
<label for="input-with-label">Label for Input 1</label>
<input id="input-with-label"/>

<label for="ignored-input">Unused label to ensure we don't accidentally pick this one up</label>
<input id="ignored-input"/>

<label>Wrapped Label
	<input id="wrapped-label"/>
</label>

<label>Label With Missing Input</label>

<input id="input-with-aria-label" aria-label="Aria Label" />


@code {
	
}
