@inherits TestComponentBase2

<Fixture Test="x => { }" Description="My First Fixture Test">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>

<SnapshotTest>
	<TestInput><Simple1 /></TestInput>
	<ExpectedOutput><Simple1 /></ExpectedOutput>
</SnapshotTest>

<Fixture Test="x => { }" Description="My Third Fixture Test" Skip="NOT NOW">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>

<SnapshotTest Description="Second snapshot test">
	<TestInput><Simple1></Simple1></TestInput>
	<ExpectedOutput><h1>a</h1></ExpectedOutput>
</SnapshotTest>

<Fixture Test="x => { }" Description="My Second Fixture Test ...">
	<ComponentUnderTest>
		<Simple1>ASDF</Simple1>
	</ComponentUnderTest>
</Fixture>

<Fixture>
	<ComponentUnderTest>hello</ComponentUnderTest>
</Fixture>
