@inherits TestComponentBase

<Fixture Test=MarkupPassedViaChildContent>
    <ComponentUnderTest>
        <ThemedButton>
            <h1>Foo bar button</h1>
        </ThemedButton>
    </ComponentUnderTest>
    <Fragment><h1>Foo bar button</h1></Fragment>
</Fixture>
@code {
    void MarkupPassedViaChildContent(Fixture fixture)
    {
        var expectedChildContent = fixture.GetFragment();

        var cut = fixture.GetComponentUnderTest();

        cut.Find("button").ChildNodes.MarkupMatches(expectedChildContent);
    }
}

<Fixture Test="ComponentsPassedViaChildContent">
    <ComponentUnderTest>
        <ThemedElement>
            <ThemedButton id="btn">@btnContent</ThemedButton>
        </ThemedElement>
    </ComponentUnderTest>
</Fixture>
@code {
    string btnContent = "BUTTTOOOON";
    void ComponentsPassedViaChildContent(Fixture fixture)
    {
        var cut = fixture.GetComponentUnderTest();

        cut.Find("#btn").TextContent.Trim().ShouldBe(btnContent);
    }
}