@inherits TestComponentBase

@code
{
    Todo todo = new Todo { Id = 42, Text = "Hello world" };
}

<Fixture Test="TheComponentRendersExpectedOutput">
    <ComponentUnderTest>
        <TodoItem Todo="todo"></TodoItem>
    </ComponentUnderTest>
    <Fragment>
        <li id="todo-@todo.Id" class="list-group-item list-group-item-action">
            <span>@todo.Text</span>
            <span class="float-right text-danger">(click to complete)</span>
        </li>
    </Fragment>
    @code
    {
        void TheComponentRendersExpectedOutput(Fixture fixture)
        {
            // act
            var cut = fixture.GetComponentUnderTest();
            var expected = fixture.GetFragment();

            // assert
            cut.MarkupMatches(expected);
        }
    }
</Fixture>

<Fixture Test="WhenItemIsClickedOnCompleteEventIsRaised">
    <ComponentUnderTest>
        <TodoItem Todo="todo" OnCompleted="id => clickedTodoId = id"></TodoItem>
    </ComponentUnderTest>

    @code
    {
        int clickedTodoId = 0;

        void WhenItemIsClickedOnCompleteEventIsRaised(Fixture fixture)
        {
            var cut = fixture.GetComponentUnderTest();

            cut.Find("li").Click();

            Assert.Equal(todo.Id, clickedTodoId);
        }
    }
</Fixture>