@inherits TestComponentBase

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams Numbers="42" Lines=@(new List<string> { "Hello", "World" })>
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams OnClick=@(args => { /* handle callback */ }) 
                      OnSomething=@(() => { /* handle callback */ })>
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams>
      <h1>Hello World</h1>
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams>
      <Counter />
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams>
      <Alert Heading="Alert heading" Type="AlertType.Warning">
        <p>Hello World</p>
      </Alert>
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>

<Fixture Test="f => {}">
  <ComponentUnderTest>
    <AllKindsOfParams>
      <h1>Below you will find a most interesting alert!</h1>
      <Alert Heading="Alert heading" Type="AlertType.Warning">
        <p>Hello World</p>
      </Alert>
    </AllKindsOfParams>
  </ComponentUnderTest>
</Fixture>