@inherits TestContext

@code
{
  [Fact]
  public void Test()
  {
    var cut = Render(@<ChildContentParams>
                          <h1>Hello World</h1>
                      </ChildContentParams>);
  }
}