@code
{
  [Fact]
  public void Test()
  {
    using var ctx = new TestContext();

    var cut = ctx.Render(@<ChildContentParams>
                            <h1>Hello World</h1>
                          </ChildContentParams>);
  }
}