@inherits BunitContext

@code
{
  [Fact]
  public void Test()
  {
    var cut = Render(@<ChildContentParams>
                        <Alert Heading="Alert heading" Type=@AlertType.Warning>
                          <p>Hello World</p>
                        </Alert>
                      </ChildContentParams>);
  }
}