@inherits BunitContext

@code
{
  [Fact]
  public void Test()
  {
    var cut = Render(@<RenderFragmentParams>
                        <Content><h1>Hello World</h1></Content>
                      </RenderFragmentParams>);
  }
}