@inherits TestComponentBase

<Fixture Test="InitialHtmlIsCorrect">
  <ComponentUnderTest>
    <Heading />
  </ComponentUnderTest>
  <Fragment>
    <h3 id:regex="heading-\d{4}" required>
      Heading text
      <small diff:ignore></small>
    </h3>    
  </Fragment>

  @code 
  {
    void InitialHtmlIsCorrect(Fixture fixture)
    {
      // Arrange - Gets the Heading component
      var cut = fixture.GetComponentUnderTest<Heading>();

      // Assert      
      // Here we get expected HTML from the Fragment element above.
      var expectedHtml = fixture.GetFragment();

      // Here we use the HTML diffing library to assert that the rendered HTML
      // from CUT is semantically the same as the expected HTML string above.
      cut.MarkupMatches(expectedHtml);
    }
  }
</Fixture>

<SnapshotTest>
  <TestInput>
    <Heading />
  </TestInput>
  <ExpectedOutput>
    <h3 id:regex="heading-\d{4}" required>
      Heading text
      <small diff:ignore></small>
    </h3>
  </ExpectedOutput>
</SnapshotTest>