@inherits BunitContext

@code
{
  [Fact]
  public void Test()
  {
    var cut = Render(@<TemplateParams Items=@(new[] { "Foo", "Bar", "Baz" }) TItem="string">
                       <Template>
                         <span>@context</span>
                       </Template>
                     </TemplateParams>);
  }
}