# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.5
# Updated: 02-05-2021
# Location: Src
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# SecurityCodeScan
# https://security-code-scan.github.io/


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp

# Public API Analyzer rules
dotnet_diagnostic.RS0016.severity = error # Add public types and members to the declared API
dotnet_diagnostic.RS0017.severity = error # Remove deleted types and members from the declared API
dotnet_diagnostic.RS0022.severity = error # Constructor make noninheritable base class inheritable
dotnet_diagnostic.RS0026.severity = suggestion # Do not add multiple public overloads with optional parameters
dotnet_diagnostic.RS0027.severity = suggestion # API with optional parameter(s) should have the most parameters amongst its public overloads


##########################################
# Custom - Code Analyzers Rules
##########################################
