<header @onclick="(_) => HeaderClickCount++">
	<h1>
		<span @onclick="(_) => SpanClickCount++">CLICK ME</span>
	</h1>
	<button>CLICK ME</button>
</header>
@code
{
	public int SpanClickCount { get; set; } = 0;
	public int HeaderClickCount { get; set; } = 0;
}
