@using Microsoft.Extensions.Logging
@inject ILoggerFactory LoggerFactory

<h3>SimpleWithLogger</h3>

@code {
	protected override void OnInitialized()
	{
		var logger = LoggerFactory.CreateLogger<SimpleWithLogger>();
		logger.LogDebug(nameof(OnInitialized));
	}
}
