@inherits TestComponentBase

@code {
	class Dep1 : ITestDep { public string Name { get; } = "FOO"; }
	class Dep2 : IAsyncTestDep { public Task<string> GetDataAsync() => Task.FromResult("BAR"); }
}

<SnapshotTest Setup="x => x.Services.AddSingleton<ITestDep, Dep1>()"
			  SetupAsync="x => { x.Services.AddSingleton<IAsyncTestDep, Dep2>(); return Task.CompletedTask; }">
	<TestInput>
		<SimpleWithDeps></SimpleWithDeps>
		<SimpleWithAyncDeps></SimpleWithAyncDeps>
	</TestInput>
	<ExpectedOutput>
		<p>FOO</p>
		<p>BAR</p>
	</ExpectedOutput> 
</SnapshotTest>

<SnapshotTest Setup="Setup020" Description="Renders CUT inside components added to RenderTree">
	<TestInput>
		<PrintCascadingValue />
	</TestInput>
	<ExpectedOutput>
		<p>FOO</p>
	</ExpectedOutput>
	@code
	{
		void Setup020(SnapshotTest f)
		{
			f.RenderTree.Add<CascadingValue<string>>(ps => ps.Add(p => p.Value, "FOO"));
			f.RenderTree.Add<WrapperDiv>();
		}
	}
</SnapshotTest>
