
name: CI

on: [push, pull_request]

env:
  VERSION: 1337.0.0
  BRANCH: ''
  COMMIT: ''
  
jobs:  
  build:
    name: Build and verify library    
    runs-on: ubuntu-latest  
    steps:
      - name: Setting environment variables
        run: |
          echo "::set-env name=BRANCH::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
          echo "::set-env name=COMMIT::$GITHUB_SHA"
          echo Version $VERSION - Branch $BRANCH - Commit $COMMIT
      - uses: actions/checkout@v1   
      - name: Update tokens in project files
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["*.csproj", "**/*.csproj"]'
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.100'      
      - name: Building and verifying library
        run: |
          dotnet build -c Release
          dotnet test -c Release /nowarn:CS1591
      - name: Creating library package
        run: dotnet pack src/ -c Release -o ${GITHUB_WORKSPACE} -p:version=$VERSION /nowarn:CS1591
      - name: Buidling template package
        run: dotnet pack template/ -c Release -o ${GITHUB_WORKSPACE} -p:version=$VERSION -p:PackageVersion=$VERSION
      - name: Verifying template
        run: |
          dotnet new --install ${GITHUB_WORKSPACE}/Razor.Components.Testing.Library.Template.$VERSION.nupkg
          dotnet new razortest -o ${GITHUB_WORKSPACE}/Test
          dotnet restore ${GITHUB_WORKSPACE}/Test/Test.csproj --source ${GITHUB_WORKSPACE}
          dotnet test ${GITHUB_WORKSPACE}/Test
